<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gdbgui - gdb in a browser</title>
    <base target="_blank">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div id="gdbgui-application">
      <div>
        <h3>Loading application, please wait.</h3>
        <p>
          Note: JavaScript and cookies must be enabled.
        </p>
      </div>
    </div>
  </body>
  <script>
    initial_data = {{initial_data | tojson}}
    debug = {{debug | tojson}}
  </script>
  <script type="text/javascript" src="static/js/build.js?_={{version}}"></script>
  {% for theme in themes %}
  <link href='static/vendor/css/pygments/{{theme}}.css' rel="stylesheet">
  {% endfor %}
</html>
