//- this page makes an ajax request to tell the server to shutdown, and tells the user that
//- also display any other info/links/ads the user might find useful

html
head
    title gdbgui - gdb in a browser
    base(target='_blank')

    //- css
    link(href='static/vendor/css/bootstrap.min.css', rel='stylesheet')

    //- javascript
    script(type="text/javascript" src='static/vendor/js/jquery.min.js')

    //- immediately make the ajax call to shut the gdbgui server down
    if debug == 'false'
        script.
            (function(){
                $.ajax({
                    url: "/_shutdown",
                    cache: false,
                    method: 'GET',
                    success: null,
                    error: null,
                })
            })()

style.
    body{
        background-color: white;
    }
    .square {
        height: 200px;
        width: 200px;
        display: inline-block;
        margin: 10px;
        transition: background-color .4s;
        font-size: 1.1em;
        padding: 20px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        background-color: white;
        vertical-align: top;
        border-radius: 10px;
    }

    .square:hover {
        background-color: #dff7ff;
    }
    a:hover{
        text-decoration: none;
    }

body

    div.container-fluid
        p
        h3 gdbgui has been shut down

        div.row

            a.square(target='_blank', href='https://www.amazon.com/?&_encoding=UTF8&tag=tahoechains-20&linkCode=ur2&linkId=0a755fb7040582a6bfd4e457b54a071b&camp=1789&creative=9325')
                img(src='/static/images/amazon.jpg', width='50px;')
                p
                span shop at amazon to support gdbgui

            a.square(href='https://github.com/cs01/gdbgui')
                    img(src='/static/images/github.jpg', height='50px;')
                    span gdbgui on github


            a.square(href='https://twitter.com/intent/tweet?text=check+out+%23gdbgui%2C+a+modern+browser-based+frontend+to+gdb+https%3A%2F%2Fgithub.com%2Fcs01%2Fgdbgui')
                img(src='/static/images/twitter.png')
                span share on twitter

            a.square(href='http://grassfedcode.com') a grassfedcode project
