include README.md
include LICENSE
graft gdbgui

prune examples
prune downloads
prune screenshots
prune tests
prune docs
prune docker
prune images
prune gdbgui/__pycache__

exclude mypy.ini
exclude .eslintrc.json
exclude .coveragerc
exclude .flake8
exclude .prettierrc.js
exclude jest.config.js
exclude make_executable.py
exclude mkdocs.yml
exclude package.json
exclude requirements.txt
exclude tsconfig.json
exclude tslint.json
exclude webpack.config.js
exclude yarn.lock
exclude noxfile.py
