body{
  background: #ccc;
  color: grey;
  border-color: grey;
}
table{
  font-size: 0.9em;
}
.lighttext{
  color: #4a4a4a;
}
.glyphicon{
  /* glyphicons are too bold, make them lighter*/
    color: #848484;
}
.titlebar{
  width: 100%;
  color: black;
  background-color: white;
}
#console, .gdb_console{
  font-size: 0.9em !important;
  background-color: #292929 !important;
  color: #f9f9f9 !important;
  font-family: monospace !important;
}
#gdb_command{
  padding-left: 45px;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 0.9em !important;
  background-color: #3c3c3c !important;
  color: #f9f9f9 !important;
  font-family: monospace !important;
}
#stdout {
  color: black;
}
#console, #stdout, #gdb_mi_output{
  font-family: monospace;
  overflow: auto;
  font-size: 0.9em;
}
.pointer{
  cursor: pointer;
}
.sent_command:hover{
  /* lighten background */
  background-color:rgba(255,255,255,0.5)
}
.disabled {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}
.no_margin{
  margin: 2px;
}
.no_padding{
  padding: 2px !important;
}
.code{
  overflow: auto;
  font-size: 0.9em;
}
.code pre, table.code {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    width: 100%
}
.highlight{
  background: rgba(255, 255, 0, 0.5);
}
.breakpoint td.gutter div{
  background: blue;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  border-color: black;
}
.no_breakpoint td.gutter div{
  /*background: blue;*/
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  border-color: black;
}
.active_breakpoint{
  background: red;
}
.gutter{
  width: 0.9em;
  padding-right: 5px;
  background: #d4ffab;
}
.pre{
  white-space: pre;
}
pre{
  overflow: visible !important;
}
.source_code:hover td, .source_code:hover td pre{
  background-color: lightblue;
  cursor: pointer;
}
.source_code td{
  background-color: #f7f7f7
}
.padding_left{
  padding-left: 5px;
}
.line_of_code{
  height: 18px
}
.gdb_content_div{
  overflow: auto;
  height: 150px;
  background-color: #f7f7f7;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.dropdown-btn {
    vertical-align: top;
    height: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.awesomplete  ul {
  overflow: auto;
  max-height: 200px;
}

.flash {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 1.0s;

    animation-name: flash-animation;
    animation-duration: 1.0s;
}

@-webkit-keyframes flash-animation {
    from { background: yellow; }
    to   { background: default; }
}

@keyframes flash-animation {
    from { background: yellow; }
    to   { background: default; }
}
