@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: "100%";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-green {
  @apply bg-green-700 text-white;
}
.btn-green:hover {
  @apply bg-green-500;
}

.btn-purple {
  @apply bg-purple-700 text-white;
}
.btn-purple:hover {
  @apply bg-purple-500;
}

.btn-white {
  @apply bg-white text-black;
}

.icon {
  @apply h-4 w-4;
}

.input {
  @apply bg-gray-800 p-1 mr-1 rounded-sm focus:outline-none focus:ring-0 text-sm;
}
