.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-animate {
  background-size: 150%;

  -webkit-animation: BackgroundGradientAnimation 100s ease infinite;
  -moz-animation: BackgroundGradientAnimation 100s ease infinite;
  animation: BackgroundGradientAnimation 100s ease infinite;
}

@keyframes BackgroundGradientAnimation {
  0%,
  100% {
    /* x,y */
    background-position: 0% 50%;
  }
  50% {
    background-position: 30% 50%;
  }
}

.breakpoint {
  width: "1px";
  background-color: "yellow";
}
