#code_table {
  font-family: $font-family-monospace;
  border-collapse: separate;
  font-size: 11px;
}

.wsp {
  white-space: pre;
}

.breakpoint td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.breakpoint:hover {
  background-color: #3c3c3c;
}

.breakpoint_trashcan {
  margin: 0 28px;
}

.line_num {
  width: 50px;
  border-width: 0;
  border-right-width: 1px;
  border-style: solid;
  border-right-color: $code-gutter-border-color;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9em;
  color: $gray-600;
  cursor: pointer;
}

.line_num.breakpoint,
.line_num.disabled_breakpoint {
  color: $gray-900;
}

.line_num.breakpoint {
  background: $cyan !important;
  border-style: solid;
  /*border-top-width: 1px;*/
  border-right-width: 0;
  /*border-bottom-width: 1px;*/
  border-left-width: 0;
  border-color: transparent;
}

.line_num.disabled_breakpoint {
  background: $secondary !important;
}

td.assembly {
  padding-bottom: 0;
  padding-top: 0;
  white-space: nowrap;
}

.instruction-line {
  min-width: 250px;
  display: inline-block;
}
