.wsp {
  white-space: pre;
}

div.breakpoint {
  cursor: pointer;
  border: 1px solid #f5f5f5;
  border-left-width: 0;
}

.breakpoint td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.breakpoint:hover {
  background-color: #3c3c3c;
}

.breakpoint_trashcan, .right_help_icon_show_on_hover {
  margin: 0 28px;
}

div.breakpoint:hover div.breakpoint_trashcan,
.varLI:hover .right_help_icon_show_on_hover {
}

.line_num {
  width: 50px;
  border-width: 0;
  border-top-width: 1px;
  border-top-color: transparent;
  border-right-width: 1px;
  border-style: solid;
  border-right-color: #c7c7c7;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9em;
  color: #ababab;
  cursor: pointer;
}

.line_num.breakpoint,
.line_num.disabled_breakpoint {
  color: black;
}

.line_num.breakpoint {
  background: #33cdff !important;
  border-style: solid;
  /*border-top-width: 1px;*/
  border-right-width: 0;
  /*border-bottom-width: 1px;*/
  border-left-width: 0;
  border-color: transparent;
}

.line_num.disabled_breakpoint {
  background: #ffd6d7 !important;
}

td.assembly {
  padding-bottom: 0;
  padding-top: 0;
  white-space: nowrap;
}

.instruction-line {
  min-width: 250px;
  display: inline-block;
}
