/* customizes bootstrap */


@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

$enable-shadows: true;

.card-body {
  padding: .5em;
}

table.table.table-condensed {
  margin-bottom: 0;
}

.text-primary {
  color: $blue-text !important; /* goddammit bootstrap why */
}

.list-unstyled {
  margin-bottom: 0;
  &.list-unstyled-pad {
    padding-left: 1.9rem;
  }
}

.btn-tiny, .btn-group-tiny > .btn {
  padding: 0.20rem 0.4rem;
  font-size: 0.82031rem;
  line-height: 1;
  border-radius: 0.2rem;
}

select.custom-select.no-grow,
.input-group > .form-control.no-grow {
  flex-grow: 0.001;
}

select.custom-select.lo-grow,
.input-group > .form-control.lo-grow {
  flex-grow: 0.1;
}

select.custom-select.md-grow,
.input-group > .form-control.md-grow {
  flex-grow: 0.3;
}

.modal {
  background-color: transparentize($primary, .92);
}

.modal.modal-md > .modal-dialog {
  max-width: 700px;
}

.table.table-hover {
  cursor: pointer;
}

.dropdown-menu.dropdown-menu-sm {
  max-height: 20em;
  overflow: auto;
}

.bg-dark {
  background-color: $gray-900;
}

/* customizes animate css */
@import "~animate.css/animate.min.css";

@import '~gemini-scrollbar/gemini-scrollbar.css';
