@import "reset";
@import "custom";
@import "variables";
@import "typography";
@import "coding";

html {
  overflow: hidden;
}

#right-sidebar {
  height: 60vh; /*todo figure out heights*/
  overflow: auto;
}

#folders-view {
  height: 60vh; /*todo figure out heights*/

}

.menu-item-icon {
  position: absolute;
  left: 4px;
  top: 8px;
}

.menu-item-has-icon {
  position: relative;
}

.goto-line {
  width: 6em;
}

.plot-container {
  height: 200px;
  width: 300px;

  &.hidden {
    display: none;
  }
}

#console {
  font-family: $font-family-monospace;
  background-color: $console-bg;
  color: $console-default-color;
  overflow: auto;
  height: 10em;
}

.console-line {
  padding: 0;
  margin: 0;
  line-height: 1.1em;
  font-size: .9em;
}

.console-line.server-out {
  color: $console-server-color;
}

.console-line.user-input:hover {
  background-color: $black;
}

.console-line.user-input {
  color: $console-user-color;
  background-color: $console-user-bg;
  cursor: pointer;
}

.console-line.stderr {
  color: $console-error-color;
}

.cursor-pointer {
  cursor: pointer;
}

.command-prompt {
  &.purple {
    color: $console-command-prompt-text;
    background-color: $console-command-prompt-bg;
  }
}
