@import "custom";
@import "typography";

$console-bg: #292929;
$console-default-font: $gray-600;
$console-server-font: $cyan;
$console-user-font: $green;

.menu-item-icon {
  position: absolute;
  left: 4px;
  top: 8px;
}

.menu-item-has-icon {
  position: relative;
}

select.custom-select.combobox-select {
  flex: 0.001;
}

.goto-line {
  width: 6em;
}

#console {
  font-family: $font-family-monospace;
  background-color: $console-bg;
  color: $console-default-font;
  overflow: auto;
  padding: 6px;
  height: 10em;
}

.console-line {
  padding: 0;
  margin: 0;
  line-height: 1.1em;
  font-size: .9em;
}

.console-line.server-out {
  color: $console-server-font;
}


.console-line.user-input:hover {
  background-color: $black;
}
.console-line.user-input {
  color: $console-user-font;
  cursor: pointer;
}
